@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', san-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
  outline: 2px auto -webkit-focus-ring-color;
}

button:focus-visible{
outline: none;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
