@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', san-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


button {
  border: 1px solid transparent;
  cursor: pointer;
}


button:focus-visible{
outline: none;
}

input {
  outline: none;
  border: none;
  border: solid 1px #f2f2f2;
}

:root {
  --main-color: #512689;
  --hover-color: #8025f7;
  --active-color: #700fee;
  --border-color: #f8f8f8;
}

@media () {
  button {
    background-color: #f9f9f9;
  }
}
